.spacer { 
	height: 5vw;
}

body > .row > div {
	margin-top: 8px;
	margin-bottom: 8px;
}

body > .row > div > input, 
body > .row > div > img, 
body > .row > div > button {
	display: block;
	width: 100%;
}

.cover {
	max-height: 96px;
	max-width: 96px;
}

.rank {
	vertical-align: 3px;
}

.rankings > div {
	margin: 2px 0;
}

.rankings a {
	float: right;
}

#platform .list-group {
	margin-bottom: 0;
}

#year input[readonly] {
	cursor: pointer;
	background: none;
}
