.spacer { 
	height: 5vw;
}

.row > div > input, 
.row > div > img, 
.row > div > button {
	display: block;
	width: 100%;
}

.row > div { 
	margin-top: 8px;
	margin-bottom: 8px;
}

#platform .list-group {
	margin-bottom: 0;
}

.cover {
	max-height: 96px;
	max-width: 96px;
}

.rank {
	vertical-align: 2px;
}

.rankings a {
	float: right;
}